<section class="py-28  text-white relative">

    <div class="max-w-5xl mx-auto px-6">

        <!-- TÍTULO -->
        <div class="mb-20">
            <h2 class="text-4xl md:text-5xl font-display font-semibold tracking-tight">
                Educação <span class="text-primary">& Formação</span>
            </h2>

            <p class="text-gray-400 mt-4  text-sm md:text-base">
                Minha trajetória de aprendizado na área de tecnologia, tendo mais conhecimento em Front-end, design de
                interfaces e construção de
                aplicações modernas para web.
            </p>
        </div>

        <div class="relative">


            <!-- full line -->
            <div
                class="timeline-line absolute -left-4 -top-10 h-[400px] w-[2px] bg-primary/30 z-0 drop-shadow-[0_0_10px_rgba(255,90,0,0.7)] opacity-80">
            </div>

            <!-- short line -->
            <div
                class="timeline-line absolute left-2 top-2 h-full w-[2px] bg-primary/30 z-0 drop-shadow-[0_0_10px_rgba(255,90,0,0.7)] opacity-80">
            </div>



            <div class="relative flex gap-6 md:gap-8 mb-14 group " >
                <!-- dot -->
                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                    <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" class="flex-1">
                <!-- CARD -->
                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                      border border-primary/20 bg-surface-dark/30
                      hover:bg-background-dark/80 backdrop-blur-sm
                      transition-all duration-500 ease-out transform
                      group-hover:border-primary/70 group-hover:-translate-y-1
                      group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                      before:absolute before:inset-0 before:rounded-2xl before:bg-gradient-to-r 
                      before:from-primary/0 before:via-primary/5 before:to-primary/0 before:opacity-0 
                      before:transition-opacity before:duration-500 group-hover:before:opacity-100">

                    <!-- titulo -->
                    <h3 class="text-lg md:text-xl font-semibold uppercase tracking-wide
                     text-white group-hover:text-primary
                     transition-colors duration-300">
                        Ensino Médio Técnico em Informática
                    </h3>
                    <!-- subtitulo -->
                    <p class="text-primary text-xs uppercase tracking-widest mt-2
                   opacity-80 group-hover:opacity-100 transition">
                        ETEC PEDRO D' ARCADIA NETO
                    </p>
                    <!-- data -->
                    <p class="text-gray-500 text-xs mt-1 tracking-wide">
                        2023 — 2025
                    </p>
                    <!-- descrição -->
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                   group-hover:text-gray-300 transition-colors duration-300">
                        Formação técnica voltada para lógica de programação, desenvolvimento
                        de software e tecnologias web. Durante esse período tive meu
                        primeiro contato com desenvolvimento front-end e criação de
                        interfaces digitais.
                    </p>
                </div>
                </div>
            </div>

            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group ">

                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100" class="flex-1">
                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 ms-10
                bg-surface-dark/30 hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-base md:text-lg font-semibold uppercase tracking-wide text-primary">
                        HTML e CSS
                    </h3>
                    <p class="text-gray-500 text-sm mt-1">
                        2023 — 2024
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Aprendizado focado na estruturação de páginas web utilizando HTML
                        e estilização com CSS, criando layouts responsivos e organizados.
                    </p>
                </div>
                </div>
            </div>


            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group ">
                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200" class="flex-1">

                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 ms-10
                bg-surface-dark/30
                hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-base md:text-lg font-semibold uppercase tracking-wide text-primary">
                        Figma
                    </h3>
                    <p class="text-gray-500 text-sm mt-1">
                        2024 — 2025
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Aprendizado focado em prototipação de interfaces, criação de layouts
                        e organização de componentes utilizando Figma. Base importante
                        para construção de interfaces modernas e bem estruturadas.
                    </p>
                </div>
                </div>
            </div>




            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group">
                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" class="flex-1">

                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 
                bg-surface-dark/30 hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-lg md:text-xl font-semibold uppercase tracking-wide
                    text-white group-hover:text-primary
                    transition-colors duration-300">
                        Desenvolvimento Front-End
                    </h3>
                    <p class="text-primary text-xs uppercase tracking-wider mt-1">
                        Angular & Tailwind CSS
                    </p>
                    <p class="text-gray-500 text-sm mt-1">
                        2025 — Atual
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Especialização na criação de interfaces modernas e responsivas
                        utilizando Angular, Tailwind CSS e arquitetura baseada em
                        componentes, focando em performance, organização e experiência
                        do usuário.
                    </p>
                </div>
                
                </div>
                <div
                    class="timeline-line absolute -left-4 -top-24  h-[500px] w-[2px] bg-primary/30 z-0 drop-shadow-[0_0_10px_rgba(255,90,0,0.7)] opacity-80">
                </div>
            </div>

            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group ">

                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="100"  class="flex-1">
                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 ms-10
                bg-surface-dark/30 hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-base md:text-lg font-semibold uppercase tracking-wide text-primary">
                        Angular
                    </h3>
                    <p class="text-gray-500 text-sm mt-1">
                        2025 — Atual
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Aprendizado focado na estruturação de páginas web utilizando HTML
                        e estilização com CSS, criando layouts responsivos e organizados.
                    </p>
                </div>
                </div>
            </div>
            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group ">

                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200" class="flex-1">
                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 ms-10
                bg-surface-dark/30 hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-base md:text-lg font-semibold uppercase tracking-wide text-primary">
                        Tailwind CSS
                    </h3>
                    <p class="text-gray-500 text-sm mt-1">
                        2025 — Atual
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Criação de interfaces modernas utilizando Tailwind CSS,
                        aplicando design responsivo e padronização visual.
                    </p>
                </div>
                </div>
            </div>

            <!-- ITEM -->
            <div class="relative flex gap-6 md:gap-8 mb-14 group ">

                <div class="relative z-10 flex items-start pt-2">
                    <div
                        class="w-4 h-4 rounded-full bg-primary border-4 border-background-dark shadow-[0_0_8px_rgba(255,90,0,0.6)]">
                    </div>
                </div>
                 <!--  AOS -->
              <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="400" class="flex-1">
                <div class="flex-1 relative p-7 md:p-8 rounded-2xl 
                border border-primary/20 ms-10
                bg-surface-dark/30 hover:bg-background-dark/80 backdrop-blur-sm
                transition-all duration-500 ease-out
                transform
                group-hover:border-primary/70
                group-hover:-translate-y-1
                group-hover:shadow-[0_20px_60px_rgba(0,0,0,0.6)]
                before:absolute before:inset-0
                before:rounded-2xl
                before:bg-gradient-to-r
                before:from-primary/0
                before:via-primary/5
                before:to-primary/0
                before:opacity-0
                before:transition-opacity
                before:duration-500
                group-hover:before:opacity-100">

                    <h3 class="text-base md:text-lg font-semibold uppercase tracking-wide text-primary">
                        Integração de API
                    </h3>
                    <p class="text-gray-500 text-sm mt-1">
                        2025 — Atual
                    </p>
                    <p class="text-gray-400 text-sm mt-4 leading-relaxed max-w-xl
                    group-hover:text-gray-300 transition-colors duration-300">
                        Integração de APIs REST em aplicações front-end, realizando
                        consumo de dados, tratamento de respostas e exibição dinâmica
                        de informações na interface.
                    </p>
                </div>
                
              </div>
              <div
                    class="timeline-line absolute -left-4 -top-16 h-[300px] w-[2px] bg-primary/30 z-0 drop-shadow-[0_0_10px_rgba(255,90,0,0.7)] opacity-80">
                </div>
            </div>
        </div>
    </div>
</section>