<section class="relative  text-white py-28 overflow-hidden">

    <!-- grid background -->
    <div class="absolute inset-0 opacity-[0.05] bg-grid-pattern bg-[size:40px_40px]"></div>

    <div class="relative max-w-7xl mx-auto px-8 lg:px-16">

        <!-- título -->
        <div class="text-center mb-20" data-aos="fade-down" data-aos-duration="1500">

            <h2 class="text-4xl md:text-5xl font-bold text-white tracking-wide">
                Habilidades de <span class="text-primary">Desenvolvimento</span>
            </h2>

            <p class="text-gray-400 mt-6 max-w-2xl mx-auto leading-relaxed">
                Tecnologias que utilizo no dia a dia no desenvolvimento
                de aplicações modernas e interfaces web.
            </p>

        </div>

        <!-- grid -->
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-10">

            <!-- ANGULAR -->
            <div data-aos="fade-up-right" data-aos-duration="1500" class="w-full">
                <div class="group relative p-8 rounded-2xl h-full flex flex-col
                    border border-white/5
                    bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
                    transition-all duration-500
                    hover:-translate-y-3
                    hover:border-primary/40
                    hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
                    overflow-hidden">

                    <!-- glow -->
                    <div class="pointer-events-none absolute inset-0
                        opacity-0 group-hover:opacity-100
                        transition-opacity duration-500 rounded-2xl"
                        style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                    </div>

                    <div class="w-12 h-12 flex items-center justify-center
                    border border-primary rounded-full
                     transition duration-500 mb-6">
                
                    <img src="images/angular-icon.webp"
                         alt="Angular"
                         class="w-6 h-6 object-contain
                         group-hover:scale-110 transition duration-300" />
                
                </div>

                    <h3 class="text-lg font-semibold tracking-wide">
                        Angular
                    </h3>

                    <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                        Desenvolvimento de aplicações SPA modernas com arquitetura escalável.
                    </p>

                    <!-- progress -->
                    <div class="mt-6 mt-auto">
                        <div class="w-full h-1 bg-white/10 rounded-full overflow-hidden">
                            <div class="h-full bg-primary" style="width: 70%"></div>
                        </div>
                        <span class="text-primary text-xs mt-2 block text-right">70%</span>
                    </div>

                </div>
            </div>

            <!-- TAILWIND -->
            <div data-aos="zoom-in-up" data-aos-duration="1500" class="w-full">
                <div class="group relative p-8 rounded-2xl h-full flex flex-col
                    border border-white/5
                    bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
                    transition-all duration-500
                    hover:-translate-y-3
                    hover:border-primary/40
                    hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
                    overflow-hidden">

                    <div class="pointer-events-none absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-500 rounded-2xl"
                        style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                    </div>

                    <div class="w-12 h-12 flex items-center justify-center
                    border border-primary rounded-full
                     transition duration-500 mb-6">
                
                    <img src="images/tailwindcss-icon.png"
                         alt="Angular"
                         class="w-6 h-6 object-contain
                         group-hover:scale-110 transition duration-300" />
                
                </div>

                    <h3 class="text-lg font-semibold tracking-wide">Tailwind</h3>

                    <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                        Estilização rápida e responsiva com foco em produtividade e consistência.
                    </p>

                    <div class="mt-6 mt-auto">
                        <div class="w-full h-1 bg-white/10 rounded-full overflow-hidden">
                            <div class="h-full bg-primary" style="width: 90%"></div>
                        </div>
                        <span class="text-primary text-xs mt-2 block text-right">90%</span>
                    </div>

                </div>
            </div>

            <!-- HTML -->
            <div data-aos="zoom-in-up" data-aos-duration="1500" class="w-full">
                <div class="group relative p-8 rounded-2xl h-full flex flex-col
                    border border-white/5
                    bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
                    transition-all duration-500
                    hover:-translate-y-3
                    hover:border-primary/40
                    hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
                    overflow-hidden">

                    <div class="pointer-events-none absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-500 rounded-2xl"
                        style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                    </div>
                    <div class="w-12 h-12 flex items-center justify-center
                    border border-primary rounded-full
                     transition duration-500 mb-6">
                
                    <img src="images/html-icon.png"
                         alt="Angular"
                         class="w-8 h-8 object-contain
                         group-hover:scale-110 transition duration-300" />
                
                </div>

                    <h3 class="text-lg font-semibold tracking-wide">HTML</h3>

                    <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                        Estruturação semântica e acessível de páginas web modernas.
                    </p>

                    <div class="mt-6 mt-auto">
                        <div class="w-full h-1 bg-white/10 rounded-full overflow-hidden">
                            <div class="h-full bg-primary" style="width: 95%"></div>
                        </div>
                        <span class="text-primary text-xs mt-2 block text-right">95%</span>
                    </div>

                </div>
            </div>

            <!-- CSS -->
            <div data-aos="fade-up-left" data-aos-duration="1500" class="w-full">
                <div class="group relative p-8 rounded-2xl h-full flex flex-col
                    border border-white/5
                    bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
                    transition-all duration-500
                    hover:-translate-y-3
                    hover:border-primary/40
                    hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
                    overflow-hidden">

                    <div class="pointer-events-none absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-500 rounded-2xl"
                        style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                    </div>

                    <div class="w-12 h-12 flex items-center justify-center
                    border border-primary rounded-full
                     transition duration-500 mb-6">
                
                    <img src="images/css-3.png"
                         alt="Angular"
                         class="w-8 h-8 object-contain
                         group-hover:scale-110 transition duration-300" />
                
                </div>

                    <h3 class="text-lg font-semibold tracking-wide">CSS</h3>

                    <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                        Criação de layouts modernos, responsivos e com foco em UX.
                    </p>

                    <div class="mt-6 mt-auto">
                        <div class="w-full h-1 bg-white/10 rounded-full overflow-hidden">
                            <div class="h-full bg-primary" style="width: 90%"></div>
                        </div>
                        <span class="text-primary text-xs mt-2 block text-right">90%</span>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>