<section class="relative text-white py-28 overflow-hidden">

    <!-- grid tech -->
    <div class="absolute inset-0 opacity-[0.05] bg-grid-pattern bg-[size:40px_40px]"></div>



    <div class="relative max-w-7xl mx-auto px-8 lg:px-16">

        <!-- título -->
        <div class="text-center mb-20" data-aos="fade-down" >

            <h2 class="text-4xl md:text-5xl font-bold text-primary tracking-wide">
                Sobre mim
            </h2>

            <p class="text-gray-400 mt-6 max-w-2xl mx-auto leading-relaxed">
                Minha trajetória na tecnologia começou recentemente, mas foi o suficiente
                para descobrir que é exatamente nessa área que quero construir minha carreira.
                Hoje atuo com desenvolvimento front-end e sigo evoluindo constantemente
                com novas tecnologias e desafios.
            </p>

        </div>

        <!-- cards -->
        <div class="grid md:grid-cols-3 gap-10">


            <!-- CARD -->
             <div data-aos="fade-right" data-aos-duration="1500" class="w-full " >
            <div class="group relative p-8 rounded-2xl
            border border-white/5 h-full
            bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
            transition-all duration-500
            hover:-translate-y-3
            hover:border-primary/40
            hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
            overflow-hidden"
            >

                <!-- glow hover -->
                <div class="pointer-events-none absolute inset-0
                opacity-0 group-hover:opacity-100
                transition-opacity duration-500 rounded-2xl"
                    style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                </div>

                <!-- icon -->
                <div
                    class=" w-12 h-12 flex items-center justify-center border border-primary rounded-full text-primary group-hover:bg-primary group-hover:text-white transition duration-500 group-hover:scale-110 group-hover:drop-shadow-[0_0_8px_rgba(255,90,0,0.7)] mb-6">

                    <span class="material-symbols-rounded text-2xl">
                        computer
                    </span>

                </div>

                <span class="text-primary text-sm font-semibold tracking-widest uppercase">
                    2023
                </span>

                <h3 class="text-lg font-semibold mt-2 tracking-wide">
                    Primeiro contato com tecnologia
                </h3>

                <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                    Iniciei o ensino médio com curso técnico em Informática para a Internet.
                    Durante os estudos comecei a aprender lógica, linguagens de programação
                    e prototipação, descobrindo meu interesse pelo desenvolvimento.
                </p>

            </div>
        </div>


            <!-- CARD -->
             <div data-aos="fade-up" data-aos-duration="1500" class="w-full ">
            <div class="group relative p-8 rounded-2xl
            border border-white/5 h-full
            bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
            transition-all duration-500
            hover:-translate-y-3
            hover:border-primary/40
            hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
            overflow-hidden" >

                <div class="pointer-events-none absolute inset-0
                opacity-0 group-hover:opacity-100
                transition-opacity duration-500 rounded-2xl"
                    style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                </div>

                <div class=" w-12 h-12 flex items-center justify-center border border-primary rounded-full text-primary group-hover:bg-primary group-hover:text-white transition duration-500 group-hover:scale-110 group-hover:drop-shadow-[0_0_8px_rgba(255,90,0,0.7)] mb-6">

                    <span class="material-symbols-rounded text-2xl">
                        work
                    </span>

                </div>

                <span class="text-primary text-sm font-semibold tracking-widest uppercase">
                    2025
                </span>

                <h3 class="text-lg font-semibold mt-2 tracking-wide">
                    Início no mercado
                </h3>

                <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                    Em outubro de 2025 iniciei meu estágio como desenvolvedor front-end
                    na Vip Automação, trabalhando com Angular e TypeScript no
                    desenvolvimento de aplicações web.
                </p>

            </div>
        </div>

            <!-- CARD -->
             <div data-aos="fade-left" data-aos-duration="1500" class="w-full">
            <div class="group relative p-8 rounded-2xl
            border border-white/5 h-full
            bg-surface-dark/30 backdrop-blur-sm hover:bg-background-dark
            transition-all duration-500
            hover:-translate-y-3
            hover:border-primary/40
            hover:shadow-[0_20px_60px_rgba(0,0,0,0.5)]
            overflow-hidden" >

                <div class="pointer-events-none absolute inset-0
                opacity-0 group-hover:opacity-100
                transition-opacity duration-500 rounded-2xl"
                    style="background: radial-gradient(circle at top right, rgba(255,90,0,0.25), transparent 70%);">
                </div>

                <div class=" w-12 h-12 flex items-center justify-center border border-primary rounded-full text-primary group-hover:bg-primary group-hover:text-white transition duration-500 group-hover:scale-110 group-hover:drop-shadow-[0_0_8px_rgba(255,90,0,0.7)] mb-6">

                    <span class="material-symbols-rounded text-2xl">
                        trending_up
                    </span>

                </div>

                <span class="text-primary text-sm font-semibold tracking-widest uppercase">
                    Atualmente
                </span>

                <h3 class="text-lg font-semibold mt-2 tracking-wide">
                    Evolução constante
                </h3>

                <p class="text-gray-400 mt-4 text-sm leading-relaxed">
                    Hoje continuo no estágio enquanto curso Bacharelado em Ciência
                    da Computação e sigo aprofundando meus conhecimentos em
                    Angular e Tailwind CSS.
                </p>

            </div>
        </div>

        </div>

    </div>

</section>
